/*CSS Styles and positioning of HTML elements for Etch-A-Sketch project*/
html{
    display: block;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: block;
}


#first-container{
    margin-left: 13px;
    margin-right: 13px;
}

h1 {
    margin-left: 450px;
    margin-right: 400px;
    padding: 20px;
    color:rgb(0, 195, 255);
    font-family: sans-serif, arial;
    font-size: 50px;
    text-shadow: 1px 1px 5px;
}

h1:hover {
    color: rgb(230, 176, 194);
    box-shadow: 1px 1px 5px;
}

#second-container{
    margin: 10px 100px 5px 100px;
    padding: 15px;
    border: 2px solid rgb(0, 195, 255);
    border-radius: 100px;
    box-shadow: 1px 1px 10px;
}

.instructions{
    color: rgb(0, 195, 255);
    font-size: 17px;
    font-family: arial, sans-serif;
    font-weight: bolder;
    text-align: center;

}